body[data-theme="dark"] {  

   @import '../src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #505E31;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #C0CEA1;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #505E31;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #505E31;
      color: white;
   }

   header {
      background-color: #505E31;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #2D351C;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #222815;
      }
      .card {
         background: #2D351C;
         color: #C0CEA1;
      }
   }

   #portfolio {
      background: #222815;
      .section-title {
         color: #C0CEA1 !important;
      }
      .foto div {
         background: #2D351C;
      }
      .project-title-settings {
         color: #C0CEA1;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #2D351C;
      .section-title {
         color: #C0CEA1 !important;
      }

      .experience-badge {
         background: #2D351C !important;
         color: #C0CEA1;
      }

      .main-badge {
         background: #222815 !important;
      }

      .vertical-timeline-element-date {
         color: #C0CEA1;
      }

      .vertical-timeline-element-icon {
         background: #2D351C !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: #2D351C;
         }
      }
   }

   .modal-inside .modal-content {
      background: #2D351C;
      color: #C0CEA1;
   }

   .close-icon {
      color: #C0CEA1;
   }
}